@model PaginaWeb1.Models.DatosContacto
@{
    ViewData["Title"] = "Contactenos";
}

<h1>Formulario de contacto</h1>
<p>
    Por favor, deje sus datos personales y lo contactamos
</p>

<form asp-action="Contactenos">
    <div class="mb-3">
    <label for="correo" 
        class="form-label">Correo electronico</label>
    <input type="email" class="form-control" 
    id="correo" name="Correo">
  
  </div>
   <div class="mb-3">
    <label for="nombre" 
        class="form-label">Nombre completo</label>
    <input type="text" class="form-control" 
    id="nombre" name="Nombre"> 
  
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
